#mygallery2 {
  clear: both;
}
.stepcarousel{
position:relative; /*leave this value alone*/
overflow:scroll; /*leave this value alone*/
width:952px; /*Width of Carousel Viewer itself*/
height:155px; /*Height should enough to fit largest content's height*/
margin:10px 0 15px 0;
}

.stepcarousel .belt{
position:absolute; /*leave this value alone*/
left:0;
top:0;
}

.stepcarousel .panel{
float:left; /*leave this value alone*/
overflow:hidden; /*clip content that go outside dimensions of holding panel DIV*/
margin-right:-12px ; /*margin around each panel*/
width:165px; /*Width of each panel holding each content. If removed, widths should be individually defined on each content DIV then. */
padding:8px;
margin-top: 6px;
margin-left: 49px;
}

.stepcarousel .panel img{
float:left; /*leave this value alone*/
margin:0; /*margin around each panel*/
background: url(../images/gallbg.png) no-repeat;
padding: 8px;
}
a.prev {
   background: #D2D2D2 url(../images/left.jpg) no-repeat scroll center;
   height: 155px;
   width: 53px;
   display:block;
   position:absolute;
   top: 0px;
   left: 0px;
   text-indent:-9999px;
}
a.next {
   position: absolute;
   top: 0px;
   right: 0px;
   background: #D2D2D2 url(../images/right.jpg) no-repeat scroll center;
   height: 155px;
   width: 53px;
   display: block;
}