#slidewrap {
  width: 960px;
  height: 230px;
  margin: 40px auto 20px;
  clear: both;
  background: url(../images/post-sep.gif) repeat-x scroll bottom;
}
ul#myRoundabout {
  margin-top: 115px;
}
*+html #slidewrap {
  padding-bottom: 30px;
  height: 260px;
}

*+html ul#myRoundabout {
  margin-top: 75px;
}
.roundabout-holder {
list-style: none;
width: 72%;
margin: 0 auto;
}

.roundabout-moveable-item {
height: 4em;
width: 8em;
border: 1px dotted #999;
background-color: #f3f3f3;
font-size: 2em;
cursor: pointer;
}
.roundabout-in-focus {
cursor: auto;
}
#slidewrap li {
  margin-left: -32px;
  border: 0 !important;
  width: auto !important;
  height: auto !important;
}
#slidewrap img {
  padding: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

